# IDEs
.idea
.vscode
.trae

# dotnet
bin
obj
*.DotSettings.user

# docs site: VitePress and DocFx
Website/node_modules/
Website/.vitepress/dist/
Website/.vitepress/cache/
Website/docfx/_api/
Website/docfx/_site/
Website/docfx/obj/
